
@model MvcStudent.Models.StudentGenreViewModel
    ViewData["Title"] = "Index";
}

<h1>信息登记</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="students" asp-action="Index">
    <p>
         <select asp-for="studentGender" asp-items="Model.Gender">
         <option value="">All</option>
         </select>
    
        姓名查询: <input type="text" name="SearchString" />
        <input type="submit" value="查询" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.students[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[1].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[2].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[3].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[4].Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[5].Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[6].Tbrq)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
                °C
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tbrq)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">修改</a> |
                <a asp-action="Details" asp-route-id="@item.Id">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
